params {

input {
      fastq_path = "fq/*"
      fasta_path = "‎⁨ref⁩/pfalciparum⁩/adapters.fa"
      reference_path = "ref⁩/pfalciparum⁩/mdr.fa"
      bed_path= "ref⁩/pfalciparum⁩/mdr.bed"
      variant_path="ref⁩/pfalciparum⁩/Reportable_SNPs.csv"
      mode="Bowtie"
      vcfmode="HaplotypeCaller"
    }
 
output {
      folder = "local/Mars_test"
    }

}



                    