params {

    input {
      
      fastq_path = "fq/"
      fasta_path = "‎⁨ref⁩/pfalciparum⁩/adapters.fa"
      reference_path = "ref⁩/pfalciparum⁩/6genes2.fa"
      bed_path= "ref⁩/pfalciparum⁩/6genes2.bed"
      variant_path="ref⁩/pfalciparum⁩/Reportable_SNPs.csv"
      mode="Bowtie"
      vcfmode="HaplotypeCaller"
    }
 
  output {
      folder = "local/Mars_test6genes2"
    }

}



                    